/bin/
/gen/
/out
/.classpath
/.project
/.settings/
/other_app_func/*/bin/
/other_app_func/*/gen/
/other_app_func/*/.settings/*
/other_app_func/*/AndroidManifest.gradle.xml
/overlay/*/.classpath
/overlay/*/.project
/overlay/*/.settings/*
.gradle
gradle
build
*.bat
*.gradle
local.properties
gradle.properties
gradlew.bat
gradlew
*.bk
*.class
